.modif-config{
  margin-top: 10px;
}
.change-config-subtitle{
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #adadad;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

.admin-filters{
  display: inline-block;
}

.separator{
  border-bottom: 1px solid #eee;
}

.admin-save-button{
  margin-top: 20px;
  display: none;
}

.error-validation{
  border-color: #d12121;
  border-style: dashed;
}
.modal-title {
  color: #d12121;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}